FRONTEND_URL = http://localhost:5173
PORT = 8080

# for development
DB_HOST= 
DB_USER= 
DB_PASSWORD= 
DB_NAME= 

# for production ::
DB_HOST=your-aiven-host
DB_PORT=your-aiven-port
DB_USER=avnadmin
DB_PASSWORD=your-aiven-password
DB_NAME=public_library

LIBRARY_ADMIN_PIN = 

CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 